@model TopMovie_SemesterarbeitSSE.Models.Schedule
@using TopMovie_SemesterarbeitSSE.Enums
@using System.ComponentModel.DataAnnotations

@{
    ViewData["Title"] = "Create";
}

@if (User.IsInRole("Admin"))
{
<h1>Create</h1>

<h4>Schedule</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Time" class="control-label"></label>
                <select asp-for="Time" class="form-control">
                    <option value=""></option>
                    @foreach (var time in Enum.GetValues(typeof(EScheduleTimes)))
                    {
                        var displayAttribute = typeof(EScheduleTimes)
                        .GetMember(time.ToString())[0]
                        .GetCustomAttributes(typeof(DisplayAttribute), false)
                        .SingleOrDefault() as DisplayAttribute;
                        var displayName = displayAttribute?.Name ?? time.ToString();

                        <option value="@time">@displayName</option>
                    }
                </select>
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" type="date" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MovieId" class="control-label"></label>
                <select asp-for="MovieId" class ="form-control" asp-items="ViewBag.MovieId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TheaterId" class="control-label"></label>
                <select asp-for="TheaterId" class ="form-control" asp-items="ViewBag.TheaterId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" style="margin-top: 5px;" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
}
else
{
    await Html.RenderPartialAsync("_AccessDenied", "Access denied");
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
